{% extends 'base.html' %}
{% block title %} {{ group.title }} {% endblock %}
{% block content %}
  <h1>{{ group.title }}</h1>
  <p>
    {{ group.description|linebreaksbr }}
  </p>
  <hr>
  {% for post in page_obj %}
    <article>
      <ul>
        <li>
          Автор: 
          {{ post.author.get_full_name }} 
          {{ post.author.username }}
          <a href="{% url 'posts:profile' post.author %}">все посты пользователя</a>
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul>
      <p>
        {{ post.text|linebreaksbr }}
      </p>
      {% if post.text %}
        <a href="{% url 'posts:post_detail' post.pk %}">подробная информация</a>
      {% endif %}
    </article>
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %} 
  {% include 'includes/paginator.html' %}
{% endblock %}
